<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>

    <body>
        <section id="editstory">
            <div class="container">
                <h1 class="mb-4">New Story</h1>

                <form action="/stories" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" required value="<%= story.title %>" type="text" name="title">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description"
                            class="form-control"><%= story.description %></textarea>
                    </div>
                    <div class="buttons">
                        <input type="button" class="cancel" value="Cancel" onclick="history.back()">
                        <button class="save" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </section>
    </body>

</html>